html {
    background-image: url("https://scontent.frba2-1.fna.fbcdn.net/v/t39.30808-6/305751749_449624627270583_2289770462671144705_n.png?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=P1ON3yXlIA0AX9AO7Hk&_nc_ht=scontent.frba2-1.fna&oh=00_AfBDYp0CHHw-UnCkY2JYz6TQsqXtx_cQO2GJwkckJfgkBg&oe=644E8FDC");
    background-size: 100%;
  }
  
  main {
    color: white;
    font-size: 18px;
    background: #6D3CF5;
    opacity: 0.9;
    margin: 0 10% 0 10%;
    border: 5px solid black;
    border-radius: 3%;
    padding: 5%;
  }
  
  #title {
    text-align: center;
    text-shadow: -5px -3px 3px white;
  }
  
  #description {
    text-align: center;
    font-size: 20px;
  }
  
  .input {
    width: 100%;
  }

  button {
    background-color: blueviolet;
    font-weight: 700;
  }